html,
body {
  width: 100%;
  height: 100%;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
img {
  display: block;
  width: 100%;
}
.lt-container {
  position: relative;
  width: 100%;
  max-width: 640px;
  min-width: 320px;
  height: 100%;
  margin: 0 auto;
  padding-top: 45px;
  padding-bottom: 55px;
  background-color: #fff;
  overflow: hidden;
  /*公共头部模块*/
  /*公共底部样式*/
  /*公共内容模块*/
}
.lt-container .lt-header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 45px;
  background-color: #069;
  padding: 0 45px;
}
.lt-container .lt-header > a {
  position: absolute;
  top: 0;
  width: 45px;
  height: 45px;
  text-align: center;
  line-height: 45px;
  color: #fff;
}
.lt-container .lt-header .back-index {
  left: 0;
}
.lt-container .lt-header .serach {
  right: 0;
}
.lt-container .lt-header .header-center {
  width: 100%;
  height: 100%;
}
.lt-container .lt-header .header-center h3 {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 20px;
  color: #fff;
  line-height: 45px;
  font-weight: 400;
}
.lt-container .lt-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 55px;
  background-color: #069;
}
.lt-container .lt-footer .footer-nav li {
  width: 25%;
  float: left;
  padding-top: 7px;
}
.lt-container .lt-footer .footer-nav li a {
  display: block;
  text-align: center;
  color: #fff;
}
.lt-container .lt-footer .footer-nav li a p {
  color: #fff;
  margin: 0;
}
.lt-container .lt-footer .footer-nav li.current a {
  color: orange;
}
.lt-container .lt-footer .footer-nav li.current a p {
  color: orange;
}
.lt-container .lt-main {
  position: relative;
  width: 100%;
  height: 100%;
}
/*公共的搜索框模块*/
.lt-search {
  position: relative;
  padding: 10px;
}
.lt-search input {
  background-color: #fff;
  border: 1px solid #007AFF;
  padding-left: 15px;
  padding-right: 55px;
  text-align-last: left;
  font-size: 12px;
  margin-bottom: 0;
}
.lt-search button {
  position: absolute;
  right: 10px;
  top: 10px;
  border-radius: 0 5px 5px 0;
}
/*公共的产品模块*/
.lt-product {
  padding: 10px;
}
.lt-product .lt-product-item {
  width: 48%;
  float: left;
  border: 1px solid #ccc;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
  height: 286px;
}
.lt-product .lt-product-item a {
  display: block;
}
.lt-product .lt-product-item a img {
  width: 100%;
  height: 150px;
}
.lt-product .lt-product-item a .price {
  color: red;
}
.lt-product .lt-product-item a .old-price {
  text-decoration: line-through;
}
.lt-product .lt-product-item:nth-child(odd) {
  margin-right: 4%;
}
