/*-------------------------------公共类-------------------------*/
.no-padding {
  padding: 0;
}
.mt-150 {
  margin-top: 150px;
}
/*--------------------------------样式---------------------------*/
/*body背景*/
.login-bgc {
  background-color: #222D32;
}
.panel .login-title {
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  text-align: center;
}
